# visual studio stuff
*.scc
*.sdf
*.cache
*.pdb
*.pch
*.ipch
*.obj
*.exp
*.vshost.exe
*.vshost.manifest
ipch/

# temp output
bin/Release/GhostXps-10.02.1/*.dll
bin/Release/GhostXps-10.02.1/*.exe
bin/Release/testDocuments/
bin/Release/ZUGFeRD/
bin/Release/*.lib
dotNetLib/
saXps2Pdf/bin/
saXps2Pdf/obj/
saXps2PdfLib/Debug/
saXps2PdfLib/Release/
saXps2PdfSetup/Debug/
saXps2PdfSetup/Release/

# prevent installer out of releases
*.msi
